.blog
  = raw @blog[:blog_data]
  - @blog[:tags].each do |tag|
    = form_with(url: crawl_path, method: "get", local: true) do
      = hidden_field_tag 'tag', tag.gsub(" ", '-')
      = submit_tag "##{tag}", :value => "##{tag}"
  %p Response Time: #{@blog[:response_time]} seconds