%ul.list-group
- @crawl_data.each do |post|
  %li.list-group-item.post
    .author #{post[:author]}
    .description #{post[:details]}
    .title_blog #{post[:title]}
    = image_tag(post[:img], width: 600, height: 200)
    = form_with(url: blog_path(post[:link_title]), method: "post", local: true) do
      = hidden_field_tag 'link', post[:link]
      = submit_tag "Read Post", :value => "Read Post", :class => "btn btn-info view_post_btn"
  %br
- if @crawl_data.present?
  = form_with(url: crawl_preview_path("archive"), method: "get", local: true) do
    = hidden_field_tag 'tag', params[:tag]
    = submit_tag "Next 10 blogs", :value => "Next 10 blogs", :class => "btn btn-outline-primary next_blogs"
- else
  .alert.alert-warning No blogs found with the given tag