.header_home {
  background-color: #E0EEEE;
  height: 4rem;
  .title_resize {
    color: black;
    font-size: 30px;
    text-align: left;
    padding-left: 3rem;
    padding-top: 0.70rem;
    margin-bottom: 0.5em;
    text-decoration: none;
    a {
      text-decoration: none;
      color : black;
    }
  }
}
body {
  margin: auto;
}
.input_bx {
  text-align: center;
  padding-top: 1rem;
  .input_tag {
    width: 20%;
    margin:0 auto;
  }
  .search {
    margin-top: 0.5rem;
  }
}
.post {
  width: 50%;
  margin-left: 1rem;
}
.view_post_btn {
  margin-top: 0.5rem;
}
.title_blog {
  font-weight: bold;
  font-size: 25px;
  padding-top: 0.5rem;
}
.author {
  color: #03a87c;
}
.description {
  font-size: 15px;
}
.next_blogs {
  margin-left: 1rem;
}
.blog {
  margin: 1rem;
}