%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"}
    %title BlogDot
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    .header_home
      .title_resize
        = link_to 'BlogDot', home_path
    = form_with(url: crawl_path, method: "get", local: true) do
      .form-group.input_bx
        %input.input_tag.form-control{:type => "text", :name => "tag", :placeholder => "Enter Tag Name"}
        = submit_tag "view", :value => "Search", :class => 'btn btn-success search'
    %main{:class => "#{controller.controller_name}"}
      = yield
